<div class="scroll-track scroll-track-x" [ngStyle]="xScrollTrackStyle" #xTrack>
  <div  class="scroll-thumb scroll-x" #xThumb  cdkDrag [ngStyle]="xScrollStyle"
       cdkDragLockAxis="x" cdkDragBoundary=".scroll-track-x" (cdkDragMoved)="onXThumbMove($event)">
  </div>
</div>
<div class="scroll-track scroll-track-y" [ngStyle]="yScrollTrackStyle" #yTrack>
  <div  class="scroll-thumb scroll-y" #yThumb  cdkDrag [ngStyle]="yScrollStyle"
       cdkDragLockAxis="y" cdkDragBoundary=".scroll-track-y"  (cdkDragMoved)="onYThumbMove($event)" >
  </div>
</div>
